body{
    background-color: #15202b;
    color: #e7e9ea;
    font-family: 'Roboto';
    margin: 0;
}
p{
    margin: 0;
}

#tweet{
    display: flex;
    border-bottom: 1px solid #71767b;
    padding: 12px;
    align-items: center;
}

.tweet_img{
    margin-right: 8px;
}